@font-face {
	font-family: walkway;
    src: url(../fonts/Walkway-SemiBold.ttf);
}

html {
	height: 100%;
}

body {
	background: #333;
	background: linear-gradient(#333, #222);
	color: #E0E0E0;
}

h1 {
	font-size: 120px;
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-family: walkway;
}

h2 {
	font-size: 40px;
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-family: walkway;
}

h3 {
	font-size: 20px;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	font-family: walkway;
}

.header {
	margin-top: 200px;
	padding: 20px 0 30px;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: rgba(255,255,255,0);
}

@-webkit-keyframes fadeIn {
	0% {background: rgba(255,255,255,0); color: rgba(255,255,255,0);}
	100% {background: rgba(255,255,255,0.05); color: rgba(255,255,255,0.9);}
}
@keyframes fadeIn {
	0% {background: rgba(255,255,255,0); color: rgba(255,255,255,0);}
	100% {background: rgba(255,255,255,0.05); color: rgba(255,255,255,0.9);}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}